.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Intro */
.intro {
  width: 550px;
  text-align: center;
}

.heading {
  font-size: 45px;
  font-weight: 700;
  color: #293264;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  color: #293264;
}

.startBtn {
  background: #4d5b9e;
  color: white;
  border: 0;
  width: 193px;
  border-radius: 15px;
  padding: 8px 16px;
}