@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Karla:ital,wght@0,300;0,400;0,700;1,300&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif; */
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f7fb;
}

.yellowblob {
  position: absolute;
  top: 0;
  right: 0;
}

.blueblob{
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Intro */
.intro {
  width: 550px;
  text-align: center;
}

.heading {
  font-family: 'Karla', sans-serif;
  font-size: 55px;
  font-weight: 700;
  color: #293264;
}

.desc {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #293264;
  margin-top: 10px;
}

.startBtn {
  background: #4d5b9e;
  color: #f5f7fb;
  font-size: 16px;
  border: 0;
  width: 193px;
  height: 52px;
  border-radius: 15px;
  margin-top: 40px;
}

/* Question */
.questionContainer{
  border-bottom: 1px solid #dbdef0;
  padding: 16px 0;
}

.question{
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #293264;
  text-align: left;
}

.answersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 15px;
}

.answerBtn{
  padding: 4px 14px;
  border: 1px solid #4dfb9e;
  border-radius: 8px;
  background: transparent;
  color: #293264;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.answerBtn.selected {
  background: #d6dbf5;
  border-color: #d6dbf5;
}

.answerBtn.correct {
  background: #94d7a2;
  border-color: #94d7a2;
}

.answerBtn.incorrect {
  background: #f8bcbc;
  border-color: #f8bcbc;
}

.answerBtn.dimmed {
  opacity: 0.5;
}

/* Questions */
.questionsContainer{
  padding: 30px 75px;
}

.warning {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #ff5858;
  margin-bottom: 1rem;
}

.checkBtn,
.playAgainBtn {
  background: #4d5b9e;
  color: #f5f7fb;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;

}