.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f7fb;
}

.yellowblob {
  position: absolute;
  top: 0;
  right: 0;
}

.blueblob{
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Intro */
.intro {
  width: 550px;
  text-align: center;
}

.heading {
  font-size: 55px;
  font-weight: 700;
  color: #293264;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  color: #293264;
  margin-top: 10px;
}

.startBtn {
  background: #4d5b9e;
  color: #f5f7fb;
  font-size: 16px;
  border: 0;
  width: 193px;
  height: 52px;
  border-radius: 15px;
  margin-top: 40px;
}

/* Question */
.questionContainer{
  border-bottom: 1px solid #dbdef0;
  padding: 16px 0;
}

.question{
  font-size: 16px;
  font-weight: 700;
  color: #293264;
}

.answersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 15px;
}

.answersBtn{
  padding: 4px 14px;
  border: 1px solid #4dfb9e;
  border-radius: 8px;
  background: transparent;
  color: #293264;
  font-size: 14px;
  font-weight: 400;
}